In [1]:
import sqlite3
from sqlite3 import OperationalError
import pandas as pd
from os import path

In [72]:
# connect to local database file.
connection = sqlite3.connect('db_dump.db')

# create cursor to execute sql querys with the connected database
cursor = connection.cursor()

In [41]:
connection

In [5]:
# getting list of tables in db.

q = "SELECT name FROM sqlite_master WHERE type='table';"
tables = run_query(q)
tables = [x[0] for x in tables]
tables

['customers', 'date', 'markets', 'products', 'transactions']

In [8]:
# testing out functionality of gathering table names.

q_test = 'SELECT * FROM date;'

# have to have an executed cursor to get description.
cursor.execute(q_test)

# create list with lambda of cursor description and mapping index 0 to x and adding to list.
names = list(map(lambda x: x[0], cursor.description))
names

['date', 'cy_date', 'year', 'month_name', 'date_yy_mmm']

In [9]:
# testing out functonality of pandas df from sql table.
df_date = pd.DataFrame(run_query(q_test), columns=names)
df_date

            date     cy_date  year month_name date_yy_mmm
0     2017-06-01  2017-06-01  2017       June    17-Jun\r
1     2017-06-02  2017-06-01  2017       June    17-Jun\r
2     2017-06-03  2017-06-01  2017       June    17-Jun\r
3     2017-06-04  2017-06-01  2017       June    17-Jun\r
4     2017-06-05  2017-06-01  2017       June    17-Jun\r
...          ...         ...   ...        ...         ...
1121  2020-06-26  2020-06-01  2020       June    20-Jun\r
1122  2020-06-27  2020-06-01  2020       June    20-Jun\r
1123  2020-06-28  2020-06-01  2020       June    20-Jun\r
1124  2020-06-29  2020-06-01  2020       June    20-Jun\r
1125  2020-06-30  2020-06-01  2020       June    20-Jun\r

[1126 rows x 5 columns]

In [14]:
# create fucntion that turns sql table to pandas df.

def make_df(table):
    
    '''
    Use table name from list of tables as user input.
    input must be string.
    '''
    
    q = f'SELECT * FROM {table}'
    cursor = connection.cursor()
    cursor.execute(q)
    result = cursor.fetchall()
    names = list(map(lambda x: x[0], cursor.description))
    data = pd.DataFrame(result, columns=names )
    cursor.close()
    return data

In [16]:
# test pd df in dictionary
test_dict = {}
test_dict['date'] = make_df('date')
test_dict['date']

            date     cy_date  year month_name date_yy_mmm
0     2017-06-01  2017-06-01  2017       June    17-Jun\r
1     2017-06-02  2017-06-01  2017       June    17-Jun\r
2     2017-06-03  2017-06-01  2017       June    17-Jun\r
3     2017-06-04  2017-06-01  2017       June    17-Jun\r
4     2017-06-05  2017-06-01  2017       June    17-Jun\r
...          ...         ...   ...        ...         ...
1121  2020-06-26  2020-06-01  2020       June    20-Jun\r
1122  2020-06-27  2020-06-01  2020       June    20-Jun\r
1123  2020-06-28  2020-06-01  2020       June    20-Jun\r
1124  2020-06-29  2020-06-01  2020       June    20-Jun\r
1125  2020-06-30  2020-06-01  2020       June    20-Jun\r

[1126 rows x 5 columns]

In [25]:
# test functonality of multiple pddf
data_dict = {}
for i in tables:
    data_dict[i] = make_df(i)

In [28]:
data_dict.keys()

dict_keys(['customers', 'date', 'markets', 'products', 'transactions'])

In [29]:
data_dict['markets']

   markets_code  markets_name     zone
0       Mark001       Chennai    South
1       Mark002        Mumbai  Central
2       Mark003     Ahmedabad    North
3       Mark004     Delhi NCR    North
4       Mark005        Kanpur    North
5       Mark006     Bengaluru    South
6       Mark007        Bhopal  Central
7       Mark008       Lucknow    North
8       Mark009         Patna    North
9       Mark010         Kochi    South
10      Mark011        Nagpur  Central
11      Mark012         Surat    North
12      Mark013        Bhopal  Central
13      Mark014     Hyderabad    South
14      Mark015  Bhubaneshwar    South
15      Mark097      New York
16      Mark999         Paris

In [21]:
# simple query running function.

# dont really need unless running querys:
# def run_query(query):
#     cursor = connection.cursor()
#     cursor.execute(query)
#     result = cursor.fetchall()
#     return(result)

def make_df_dict(db):
    
    '''
    Function: make_df_dict converts sqlite database to dictonary containing all tables.
    
    Input:
        db: is string representation of path to datebase.
        Example -> 'db_dump.db' (file extention = *.db)
    
    Functonality:
        function takes in connection object, gets all table names, column names of each 
        table. creates pandas DataFrame from table with corresponding column names.
        adds DataFrame object to dictonary with key equal to name of the table. 

    Return:
        Dictonary returned containing tables from sql database.
    '''
    
    if path.exists(db):
    
        connection = sqlite3.connect(db)

        data_dict = {}

        cursor = connection.cursor()

        # get table names to itter
        q_tables = "SELECT name FROM sqlite_master WHERE type='table';"
        cursor.execute(q_tables)
        tables = cursor.fetchall()
        tables = [x[0] for x in tables]

        # itter tables/make pandas object from each table.
        for i in tables:
            q = f'SELECT * FROM {i}'
            cursor = connection.cursor()
            cursor.execute(q)
            result = cursor.fetchall()
            names = list(map(lambda x: x[0], cursor.description))
            data_dict[i] = pd.DataFrame(result, columns=names )
            
    else:
        print('Check Path!')

        
    return data_dict

In [25]:
data_dict = make_df_dict('db_dump.db')

In [26]:
data_dict.keys()

dict_keys(['customers', 'date', 'markets', 'products', 'transactions'])

In [27]:
path.exists('db_dumpsss.db')

False

In [28]:
from os import path

In [29]:
data_dict['customers']

   customer_code              custmer_name   customer_type
0         Cus001              Surge Stores  Brick & Mortar
1         Cus002              Nomad Stores  Brick & Mortar
2         Cus003              Excel Stores  Brick & Mortar
3         Cus004            Surface Stores  Brick & Mortar
4         Cus005            Premium Stores  Brick & Mortar
5         Cus006     Electricalsara Stores  Brick & Mortar
6         Cus007               Info Stores  Brick & Mortar
7         Cus008          Acclaimed Stores  Brick & Mortar
8         Cus009   Electricalsquipo Stores  Brick & Mortar
9         Cus010              Atlas Stores  Brick & Mortar
10        Cus011           Flawless Stores  Brick & Mortar
11        Cus012        Integration Stores  Brick & Mortar
12        Cus013              Unity Stores  Brick & Mortar
13        Cus014            Forward Stores  Brick & Mortar
14        Cus015     Electricalsbea Stores  Brick & Mortar
15        Cus016              Logic Stores  Brick & Mortar
16        Cus017               Epic Stores  Brick & Mortar
17        Cus018   Electricalslance Stores  Brick & Mortar
18        Cus019  Electricalsopedia Stores  Brick & Mortar
19        Cus020                     Nixon      E-Commerce
20        Cus021                   Modular      E-Commerce
21        Cus022        Electricalslytical      E-Commerce
22        Cus023                     Sound      E-Commerce
23        Cus024                     Power      E-Commerce
24        Cus025                      Path      E-Commerce
25        Cus026                   Insight      E-Commerce
26        Cus027                   Control      E-Commerce
27        Cus028                      Sage      E-Commerce
28        Cus029          Electricalsocity      E-Commerce
29        Cus030                 Synthetic      E-Commerce
30        Cus031                      Zone      E-Commerce
31        Cus032                     Elite      E-Commerce
32        Cus033                   All-Out      E-Commerce
33        Cus034                Expression      E-Commerce
34        Cus035                    Relief      E-Commerce
35        Cus036                     Novus      E-Commerce
36        Cus037                    Propel      E-Commerce
37        Cus038                    Leader      E-Commerce

In [55]:
connection = sqlite3.connect('db_dumps.db')